@charset "UTF-8";
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.list-group{
	width: 100%;
	padding: 50px 100px;
	background-color: #DEDED9  ;
	min-height:100%;
}
.edit-area{
	min-width:402px;
	margin: 0 auto;
	width: 80%;
	background-color: #fff ;
	padding: 10px 25px;
	border: 1px solid #ABABAB ;
	border-radius: 5px;
	padding-bottom: 20px;
}
.edit-area .title{
	color:#3C3E3C ;
	margin-bottom: 10px;
}
input{
	outline: none;
	font-size: 18px;
	margin: 10px 0;
	height: 30px;
	
}
form{
	width: 100%;
}
.esc-btn{
	width:100%;
	margin: 20px 0;
}
.esc-update{
	height: 40px;
	width:20%;
	font-size: 25px;
	cursor: pointer;
}
 #input2{
    background: none;
    color: rgb(88, 88, 88);
    font-size: 21px;
    font-weight: 600;
    width: 10%;
    height: 60px;
    min-width: 180px;
}
 #input2:hover{
    border-bottom: 5px solid rgb(63, 63, 63);
    background-color: rgb(245, 242, 242);
}
.ck-editor__editable_inline {
	/* 設定最低高度 */
    min-height: 300px; 
   
}
.lil-container{
	width: 100%;
	vertical-align: middle;
}

select{
	outline: none;
	width: 100px;
	height: 30px;
}
 ul{
        list-style: none;
    }
a:hover{
		text-decoration: none;
		color:white;
	}
    header{
        z-index: 2;
        width: 100%;
        height: 110px;
        padding: 25px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.5s;
        box-sizing: border-box;
        background-color: rgb(248, 248, 248);
       
    }
    header.sticky{
        position: fixed;
        top: 0;
        left:0 ;
        background-color: white;
        padding: 10px 100px;
        box-shadow: 0 5px 20px rgba(0,0,0,0.05);
        box-sizing: border-box;
    }

    header .logo{
        color: rgb(20, 20, 20);
        font-weight: 700;
        font-size: 2em;
    }
    header.sticky .logo{
        color: black !important;
    }

    header .menu-bar{
        width: 50%;
        float: right;
        box-sizing: border-box;
        
    }

    header .menu-bar ul{
        display: inline-flex;
        float: right;
        margin:auto 5px;
    }
    .menu-bar ul li{
        border-left: 1px solid #fff;
        padding: 15px 20px;
        text-align: center;
        cursor: pointer;
        min-width: 90px;
        position: relative;
    }

    .menu-bar ul li:hover{
        color: rgb(71, 189, 91) ;
    }
    .menu-bar ul #cart-con:hover{
        background-color: rgba(71, 189, 91, 0);
        color:tomato;
    }

    .menu-bar ul li i{
        font-size: 25px;
        margin-right: 5px;
    }
    .menu-bar ul li ul{
        position: absolute;
        left: 0;
        display: block;
        margin-top: 18px;
        width: 200px;
        padding: 0;
        background-color: rgb(71, 189, 91);
    }
    .menu-bar ul li ul li{
        text-align: left;
        border: none;
        border-bottom: white 1px solid;
        font-weight: 550;
    }
    .menu-bar ul li ul li:hover{
        background-color: rgb(209, 102, 53);
        color: white;
    }
    header .navigation{
        position: relative;
        display: flex;
        
    }
    header .navigation li{
        list-style: none;
        margin-left: 30px;
    }
    
    .logout{
	  list-style: none;
   background-color: Transparent; 
      border-style: none;     /* 無邊框 */
      outline: none;      /* 獲得焦點也無邊框 */
}

.logout:hover{

   color: rgb(74, 202, 49);
}
    a{
        text-decoration: none;
        color: rgb(22, 22, 22);
    }
    header.sticky .navigation a{
        color: black;
    }

    header .navigation li:hover{
        color: rgb(74, 202, 49);
        overflow: hidden;
    }

    .wrapper{
        min-height: 150%;
    }
    #logout,#login{
        outline: none;
        background: none;
        border: none;
        font-weight: 600;
        font-size: 18px;
    }
    #logout:hover{
        color: white;
    }
    .mycart{
    	position:fixed;
    	top:110px;
    	right:10px;
        z-index: 1000000;
        float: right;
        width: 35%;
        margin-right: 20px;
        min-width: 430px;
        padding: 20px 10px;
        background-color: white;
 
        box-shadow: 0 0 4px rgb(175, 175, 175);
    }
    .name p{
        position: relative;
        line-height: 1.5em;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }
    .carttitle{
        color: rgb(114, 93, 87);
        font-size: 30px;
    }
    .mycart th{
        width: 100%;
        height: 8px;
        background-color: rgb(221, 110, 76);
    }
    .mycart td{
        padding: 7px 7px;
    }
    #cartTable{
        padding: 10px 0;
    }
    
    .fa-trash{
        font-size: 18px;
        padding: auto 2px;
    }
    .sum-btn{
        width:100%;
        text-align: end; 
        margin-bottom: 10px;
    }

    .sum-btn h3{
        letter-spacing: 4px;
        margin: 5px 0;
        color: rgb(68, 68, 68);
    }
    .sum-btn h3::before{
        content: "";
        width: 70%;
        height: 2px;
        background-color: rgb(255, 124, 84);
        display: inline-block;
        margin-right: 5px;
    }
    .gocart{
        font-size: 20px;
        background-color: rgb(255, 124, 84);
        height: 50px;
        width: 150px;
        font-weight: 600;
        color: rgb(20, 20, 20);
    }
    .gocart:hover{
        background-color: rgb(226, 103, 66);
        color: white;
        cursor: pointer;
    }
    .gocart i{
        margin-left: 2px;
    }
    #cart-con i{
    	position: relative;
    	font-size: 25px;
    }
    #badge{
    	position: absolute;
    	top:5%;
    	right:25%;
    	background: tomato;
    	border-radius: 50%;
    	width: 20px;
    	height: 20px;
    	font-size:14px;
    	box-sizing: border-box;
    	color:white;
    }

    @media (max-width:1350px){
        header{
            padding: 25px 50px;
        }
        .menu-bar{
            width: 50%;
        }
        .menu-bar ul{
            margin: 10px 0;
            width: 100%;
        }
        .menu-bar ul li{
            width: 100%;

        }
        .sum-btn{
        width: 100%;
        text-align: end;
        }
        .sum-btn h3::before{
        content: "";
        width: 80%;
        height: 2px;
        background-color: rgb(255, 124, 84);
        display: inline-block;
        margin-right: 5px;
        }
    }

    @media (max-width:1300px){
        header{
            padding: 25px 50px;
        }
        .menu-bar{
            width: 55%;
        }
        .menu-bar ul{
            margin: 10px 0;
            width: 100%;
        }
        .menu-bar ul li{
            width: 100%;

        }
    }

