@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}
.list-group-item:hover{		
	 color:black;    
	  background-color: rgb(245, 242, 242);
}


li{
    list-style: none;
}
.header-background{
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
button{
    outline: none;
    border: 0;
    cursor: pointer;
}
.category-select{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    background-color: rgb(223, 217, 217);
}
.category-select button{
    background: none;
    color: rgb(88, 88, 88);
    font-size: 21px;
    font-weight: 600;
    width: 10%;
    height: 60px;
    min-width: 180px;
}
.category-select button:hover{
    border-bottom: 5px solid rgb(63, 63, 63);
    background-color: rgb(245, 242, 242);
}
#create-forum{
    background-color: rgb(216, 216, 216);
    color: rgb(63, 63, 63);
}

#create-forum:hover{
    background-color: rgb(93, 209, 102);
    color: rgb(63, 63, 63);
}

.container{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 10px 20px;
}
.art-area{
    width: 75%;	
    padding: 20px 60px;
    box-sizing: border-box;
    
}

.article-title{
    font-size: 40px;
    margin-bottom: 20px;
}
.article-title::after{
    content: "";
    width: 80%;
    height:2.5px;
    background-color: black;
    display: inline-block;
    margin-left: 2px;
}
.art-title{
    font-size: 32px;
    margin-top: 10px;
}
.art-content{
    min-height: 200px;
    max-height: 600px;
    position: relative;
    box-sizing: border-box;
    padding: 20px 25px;
    background-color: rgba(243, 243, 243, 0.432);
    margin: 20px auto;
    border-radius: 5px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    overflow: hidden;
}

.search{
    width: 100%;
    height: 60px;
    text-align: center;
    margin-top:0;
    margin-bottom: 35px;
}
.search input{
    margin: 10px auto;
    outline: none;
    
}
#search-name{
    line-height: 40px;
    width: 500px;
    padding-left: 20px;
}
#submit-btn{
    line-height: 40px;
    width: 80px;
}


.recommend{
    width: 25%;
    box-sizing: border-box;
}
.recommend-title{
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    margin:30px auto ;
    font-size: 25px;
    margin-bottom: 5px;
}
.recommend ul a li{
    font-size: 20px;
    line-height: 44px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    padding:auto 15px;
    
}


.recommend ul a li:hover{
	 background-color: rgb(245, 242, 242);
	color:black; 
	
}

.art-content small{
    color:rgb(99, 99, 99);
    font-size: 20px;
}
.text{
    margin-top: 20px;
    line-height: 1.5em;
    margin-bottom: 30px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}
.date{
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    right: 20px;
    color:rgb(99, 99, 99);
    font-size: 16px;
}

@media (max-width:1295px){
    .art-area{
        width: 100%;
        padding: 20px 50px;
        box-sizing: border-box;
    }
    .recommend{
        width: 100%;
        box-sizing: border-box;
    }
}
@media (max-width:1260px){
    .category-select{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        background-color: rgb(223, 217, 217);
    }
    .category-select button{
        background: none;
        color: rgb(88, 88, 88);
        font-size: 21px;
        font-weight: 600;
        height: 60px;
        
    }
    #create-forum{
        background-color: rgb(216, 216, 216);
        color: rgb(63, 63, 63);
        width: 100%;
    }
}
ul .newforum .active{
	background: black !important;
}

@media (max-width:970px){
    .article-title{
        font-size: 40px;
        margin-bottom: 5px;
        border-bottom:  rgb(93, 209, 102) 8px solid;
    }
    .article-title::after{
        display: none;
    }
    .article-title{
        font-size: 40px;
        margin-bottom: 20px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
    .art-content{
        min-height: 200px;
        max-height: 600px;
        position: relative;
        box-sizing: border-box;
        padding: 10px 20px;
        background-color: rgba(243, 243, 243, 0.432);
        margin: 20px auto;
        border-radius: 5px;
       
    }
    .text{
        margin-bottom: 40px;
    }
}