*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.page-wrapper{
	width: 100%;
	box-sizing: border-box;
	display: flex;
	position: relative;
	min-height: 120vh;
}
/* leftbar */
.leftbar li{
    list-style: none;
}
.leftbar li a,.leftbar li a:active,.leftbar li a:visited{
    text-decoration: none;
    color: white;
}
.leftbar{
   position:fixed;
	top:110px;
	left:0;
    width: 280px;
    height: 100vh;
    background-color: rgb(108, 173, 78);
    color: white;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 200px;
}


.leftbar ul{
    width: 100%;
    margin-top:20%;
    margin-bottom: 252px;
}
.leftbar li::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.leftbar ul li{
    font-size: 30px;
    letter-spacing: 10px;
    height: 70px;
    font-weight: 600;
    cursor: pointer;
}
.leftbar li span{
    vertical-align: middle;
}
.leftbar ul li:hover{
    background-color: rgba(255, 255, 255, 0.219);
    letter-spacing: 12px;
    border-left: 10px solid rgb(219, 110, 36);
}
/* leftbar */
.member-cont{
    box-sizing: border-box;
    padding: 30px 50px;
    width: 80%; 
    min-height: 100vh;
	margin-left: 280px;
}
.work-area{
    background-color: white;
    width: 100%;
    padding:10px 50px;
    border: 1px solid rgb(207, 195, 187);
    border-right:30px solid rgb(97, 97, 97) ;
    
}
.work-area h2{
    color: rgb(75, 75, 75);
    margin-bottom: 20px;
    padding: 8px 0;
    border-bottom: 1px solid rgb(179, 179, 179);
}
.text-box{
    margin: 20px 0;
}
.text-box input{
    outline: none;
    margin-left: 10px;
    font-size: 20px;
    box-sizing: border-box;
    padding-left: 5px;
    line-height: 2em;
    border: 1px solid rgb(207, 195, 187);
    transition: 0.5s;
    width: 250px;
}
#address{
	width: 330px;
}

#address:focus{
	width: 350px;
}
.text-box input:focus{
    border-bottom: 4px solid rgb(108, 173, 78);
    width: 280px;
}
.text-box .selector-gender input{
    width: 20px;
}
.btn-area{
    margin-top: 50px;
}
#send{
    cursor: pointer;
}
#send:hover{
    background-color: rgb(226, 226, 226);
}
.my-forum{
	margin-top:20px;
	margin-bottom:20px;
	width: 100%;
	box-sizing:border-box;
	border: 1px solid #BBB5B4 ;
	padding: 20px 20px;
	border-radius: 8px;
}
.content{
	padding:10px 0;
	font-size:30px;
	cursor: pointer;
	border-bottom: 8px solid coral;
	display: flex;
	align-items: center;
	justify-content: space-between;
	 transition: 0.5s;
}
.content .date{
	font-size:20px;
	color: #71706F ;
}
.content:hover{
	letter-spacing: 5px;
	border-bottom: 8px solid #7189E1 ;
	font-weight: 600;
}
.each-content{
	margin-bottom:20px;
	cursor: pointer;
}
.each-date{
	width:100%;
	text-align: right;
	color: #71706F ;
}
.forum-reply:hover{
	background: #F4F5F6 ;
}
