@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.page-wrapper{
	width:100%;
	min-height: 100vh;
	box-sizing: border-box;
	padding: 90px 50px;
	padding-top: 40px;
	margin-bottom: 50px;
}
.chatroom{
	width:80%;
	margin: 0 auto;
	min-width: 500px;
	max-height: 700px;
}
.chatheader{
	width:100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #EEEBEA;
	color:#434242;
	height: 70px;
	font-weight:600;
	font-size:23px;
	padding: 0 20px;
	border-bottom: #F88B57 10px solid;
}
.chat-count{
	width:100%;
	text-align: center;
	background: #7E7B7B;
	color: white;
	padding: 5px;
}
#msg-io{
	overflow: auto;
	height: 560px;
	box-sizing: border-box;
	padding: 25px 15px;
	font-size: 23px;
	border:2px solid #B8B7B7; 
	border-top: none;
	border-bottom: none;
	border-radius: 0;
}
.user-name{
	margin: 10px 0;
}
span.bubble{
	border: 1px black solid;
}
.input-area{
	width:100%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background: #EEEBEA;
}
.input-area .selector,.input-area .textnSubmit{
	height: 70px;
}
.input-area .selector{
	display: flex;
	align-items: center;
	
}
select,input{
	outline:none;
	border: none;
	font-size: 23px;
	height: 50px;
	
}
#select{
	background: none; 
}
.input-area .textnSubmit{
	display: flex;
}
.input-content{
	display: flex;
	align-items: center;
}
#msg-input{
	background: none;
	width: 380px;
	margin-left: 20px;
	transution:0.5s;
	border-bottom: 2px solid #B8B7B7;
	box-sizing: border-box;
	padding-left: 10px;
}
#msg-input:focus{
	width: 400px;
	border-bottom: 2px solid #959493;
	background: none;
}
#msg-name{
	margin-left: 20px;
	box-sizing: border-box;
	padding-left: 10px;
}

#submit{
	margin-left: 20px;
	width: 150px;
	height:100%;
	border: none;
	outline: none;
	color:white;
	background: #959493;
	font-size: 23px;
	cursor: pointer;
}
#submit:hover{
	background: #6F6D6C;
}
/*header*/
ul{
        list-style: none;
    }
	a:hover{
		text-decoration: none;
		color:white;
	}
    header{
        z-index: 2;
        width: 100%;
        height: 110px;
        padding: 25px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.5s;
        box-sizing: border-box;
        background-color: rgb(248, 248, 248);
       
    }
    header.sticky{
        position: fixed;
        top: 0;
        left:0 ;
        background-color: white;
        padding: 10px 100px;
        box-shadow: 0 5px 20px rgba(0,0,0,0.05);
        box-sizing: border-box;
    }

    header .logo{
        color: rgb(20, 20, 20);
        font-weight: 700;
        font-size: 2em;
    }
    header.sticky .logo{
        color: black !important;
    }

    header .menu-bar{
        width: 50%;
        float: right;
        box-sizing: border-box;
        
    }

    header .menu-bar ul{
        display: inline-flex;
        float: right;
        margin:auto 5px;
    }
    .menu-bar ul li{
        border-left: 1px solid #fff;
        padding: 15px 20px;
        text-align: center;
        cursor: pointer;
        min-width: 90px;
        position: relative;
    }

    .menu-bar ul li:hover{
        color: rgb(71, 189, 91) ;
        
    }
    #member:hover{
    	color:rgb(71, 189, 91);
    }
    .menu-bar ul #cart-con:hover{
        background-color: rgba(71, 189, 91, 0);
        color:tomato;
    }

    .menu-bar ul li i{
        font-size: 25px;
        margin-right: 5px;
    }
    .menu-bar ul li ul{
        position: absolute;
        left: 0;
        display: block;
        margin-top: 18px;
        width: 200px;
        padding: 0;
        background-color: rgb(71, 189, 91);
    }
    .menu-bar ul li ul li{
        text-align: left;
        border: none;
        border-bottom: white 1px solid;
        font-weight: 550;
    }
    .menu-bar ul li ul li:hover{
        background-color: rgb(209, 102, 53);
        color: white;
    }
    header .navigation{
        position: relative;
        display: flex;
        
    }
    header .navigation li{
        list-style: none;
        margin-left: 30px;
    }
    .menu-bar ul a{
        text-decoration: none;
        color: rgb(22, 22, 22);
    }
    header.sticky .navigation a{
        color: black;
    }

    header .navigation li:hover{
        color: rgb(74, 202, 49);
        overflow: hidden;
    }

    .wrapper{
        min-height: 150%;
    }
    #logout,#login{
        outline: none;
        background: none;
        border: none;
        font-weight: 600;
        font-size: 18px;
    }
    
    #logout:hover{
        color: white;
    }
    #cart-con i{
    	position: relative;
    	font-size: 25px;
    }
    #badge{
    	position: absolute;
    	top:7%;
    	right:25%;
    	background: tomato;
    	border-radius: 50%;
    	width: 20px;
    	height: 20px;
    	font-size:14px;
    	box-sizing: border-box;
    	color:white;
    	display: flex;
    	justify-content: center;
    	align-items: center;
    }	
    .mycart{
    	position:fixed;
    	top:110px;
    	right:10px;
        z-index: 1000000;
        float: right;
        width: 35%;
        margin-right: 20px;
        min-width: 430px;
        padding: 20px 10px;
        background-color: white;
 
        box-shadow: 0 0 4px rgb(175, 175, 175);
    }
    .name p{
        position: relative;
        line-height: 1.5em;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }
    .carttitle{
        color: rgb(114, 93, 87);
        font-size: 30px;
    }
    .mycart th{
        width: 100%;
        height: 8px;
        background-color: rgb(221, 110, 76);
    }
    .mycart td{
        padding: 7px 7px;
    }
    #cartTable{
        padding: 10px 0;
        font-size: 20px;
    }
    
    .fa-trash{
        font-size: 18px;
        padding: auto 2px;
    }
    .sum-btn{
        width:100%;
        text-align: end; 
        margin-bottom: 10px;
    }

    .sum-btn h3{
        letter-spacing: 4px;
        margin: 5px 0;
        color: rgb(68, 68, 68);
    }
    .sum-btn h3::before{
        content: "";
        width: 70%;
        height: 2px;
        background-color: rgb(255, 124, 84);
        display: inline-block;
        margin-right: 5px;
    }
    .gocart{
        font-size: 20px;
        background-color: rgb(255, 124, 84);
        height: 50px;
        width: 150px;
        font-weight: 600;
        color: rgb(20, 20, 20);
    }
    .gocart:hover{
        background-color: rgb(226, 103, 66);
        color: white;
        cursor: pointer;
    }
    .gocart i{
        margin-left: 2px;
    }
    .gocart i{
        margin-left: 2px;
    }
    @media (max-width:1400px){
    .input-area{
    	display: flex;
    	flex-direction: column;
    	height: auto;
    }
    .input-area .selector,.textnSubmit{
    	width: 100%;
    	box-sizing: border-box;
    	display: flex;
    	
    }
    .input-area .selector{
    	background-color: #7E7B7B;
    	height: 50px;
    	padding-left: 10px;
 		
    }
    #select{
    	color: white;
    } 
    #select option{
    	color: #7E7B7B;
    }
    #msg-name{
    	
    }
    .textnSubmit .input-content{
		width: 80%;    
		margin: 0;	
		box-sizing: border-box;
		padding: 10px 3px;
    }
    #msg-input{
    	width: 80%;
    	transition: 0.5s;
    	margin-left: 10px;
    }
    #msg-input:focus{
    	width: 90%;
    }
    #submit{
    	width: 20%; 
    	margin: 0;
    	justify-content: flex-end;
    }
    
    }

    @media (max-width:1350px){
        header{
            padding: 25px 50px;
        }
        .menu-bar{
            width: 50%;
        }
        .menu-bar ul{
            margin: 10px 0;
            width: 100%;
        }
        .menu-bar ul li{
            width: 100%;

        }
        .sum-btn{
        width: 100%;
        text-align: end;
        }
        .sum-btn h3::before{
        content: "";
        width: 80%;
        height: 2px;
        background-color: rgb(255, 124, 84);
        display: inline-block;
        margin-right: 5px;
        }
    }

    @media (max-width:1300px){
        header{
            padding: 25px 50px;
        }
        .menu-bar{
            width: 55%;
        }
        .menu-bar ul{
            margin: 10px 0;
            width: 100%;
        }
        .menu-bar ul li{
            width: 100%;

        }
    }
    @media (max-width:1000px){
    	header{
    		display: flex;
    		flex-direction: column;
    		height: auto;
    		padding:10px;
    	}
    	header .menu-bar{
    		width: 100%;
    	}
    	.menu-bar ul{
    		margin: 0 auto;
    		
    	}
    }
    @media (max-width:600px){
    	.page-wrapper{
    		padding:  25px;
    		margin-bottom: 90px;
    	}
    }

